<!-- manage_programs.html -->

{% extends 'layout.html' %}

{% block title %}Manejar Programas Academicos{% endblock %}

{% block content %}
<h2>Gestión de Programas Académicos</h2>
<ul>
  {% for prog in programas %}
    <li>{{ prog.NOMBRE }} - {{ prog.NUM_SEMESTRES }} semestres
      <form method="POST" style="display:inline">
        <input type="hidden" name="id_programa" value="{{ prog.ID_PROGRAMA }}">
        <button name="action" value="Editar">Editar</button>
        <button name="action" value="Eliminar">Eliminar</button>
      </form>
    </li>
  {% endfor %}
</ul>
<div style="margin-top: 50px; text-align: center;">
    {% if session['user_type'] == 'Administrador' %}
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% elif session['user_type'] == 'Cliente' %}
        <a href="{{ url_for('student_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% endif %}
</div>
{% endblock %}