<!-- manage_subjects.html -->


{% extends 'layout.html' %}

{% block title %}Manejar Asignaturas{% endblock %}

{% block content %}
<h2>Gestión de Asignaturas</h2>
<ul>
  {% for asig in asignaturas %}
    <li>{{ asig.NOMBRE }} (Semestre {{ asig.SEMESTRE }})
      <form method="POST" style="display:inline">
        <input type="hidden" name="id_asignatura" value="{{ asig.ID_ASIGNATURA }}">
        <button name="action" value="Editar">Editar</button>
        <button name="action" value="Eliminar">Eliminar</button>
      </form>
    </li>
  {% endfor %}
</ul>
<div style="margin-top: 50px; text-align: center;">
    {% if session['user_type'] == 'Administrador' %}
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% elif session['user_type'] == 'Cliente' %}
        <a href="{{ url_for('student_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% endif %}
</div>
{% endblock%}