{% extends 'layout.html' %}

{% block title %}Manejar Programas Académicos{% endblock %}

{% block content %}
<h2>Gestión de Programas Académicos</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Semestres</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for programa in programas %}
    <tr>
      <td>{{ programa.NOMBRE }}</td>
      <td>{{ programa.NUM_SEMESTRES }}</td>
      <td>
        <a href="{{ url_for('update_program', id_programa=programa.ID_PROGRAMA) }}" class="btn btn-warning btn-sm">Editar</a>
        <form method="POST" action="{{ url_for('delete_program', id_programa=programa.ID_PROGRAMA) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que deseas eliminar este programa?');">
          <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('create_program') }}" class="btn btn-success" style="margin-top: 20px;">Crear Nuevo Programa</a>

<div style="margin-top: 50px; text-align: center;">
    <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary">Volver al Menú Principal</a>
</div>
{% endblock %}
