<!-- review_documents.html -->
 

{% extends 'layout.html' %}

{% block title %}Revisar Documentos{% endblock %}

{% block content %}
<h2>Revisión de Documentos</h2>
<table>
  <tr><th>Estudiante</th><th>Documento</th><th>Estado</th><th>Acción</th></tr>
  {% for doc in documentos %}
    <tr>
      <td>{{ doc.CORREO }}</td>
      <td>{{ doc.NOMBRE_ARCHIVO }}</td>
      <td>{{ doc.ESTADO_DOCUMENTO }}</td>
      <td>
        <form method="POST">
          <input type="hidden" name="id_documento" value="{{ doc.ID_DOCUMENTO }}">
          <select name="nuevo_estado">
            <option value="Aprobado">Aprobado</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Rechazado">Rechazado</option>
          </select>
          <button type="submit">Actualizar</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  
</table>
<div style="margin-top: 50px; text-align: center;">
    {% if session['user_type'] == 'Administrador' %}
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% elif session['user_type'] == 'Cliente' %}
        <a href="{{ url_for('student_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% endif %}
</div>
{%endblock%}