<!-- review_enrollments.html -->
{% extends 'layout.html' %}

{% block title %}Revisión de Inscripciones{% endblock %}
{% block content %}
<h2>Revisión de Inscripciones</h2>

<tbody>
  {% for ins in all_enrollments %}
  <tr>
    <td>{{ ins.NOMBRE_USUARIO }}</td>
    <td>{{ ins.NOMBRE_PROGRAMA }}</td>
    <td>{{ ins.PERIODO_ACADEMICO }}</td>
    <td>{{ ins.ESTADO_INSCRIPCION }}</td>
    <td>
      <form action="{{ url_for('admin_review_enrollments') }}" method="post" style="display:inline;">
        <input type="hidden" name="id_inscripcion" value="{{ ins.ID_INSCRIPCION }}">
        <input type="hidden" name="nuevo_estado" value="Aceptado">
        <button type="submit">Aceptar</button>
      </form>
      <form action="{{ url_for('admin_review_enrollments') }}" method="post" style="display:inline;">
        <input type="hidden" name="id_inscripcion" value="{{ ins.ID_INSCRIPCION }}">
        <input type="hidden" name="nuevo_estado" value="Rechazado">
        <button type="submit">Rechazar</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</tbody>
<div style="margin-top: 50px; text-align: center;">
    {% if session['user_type'] == 'Administrador' %}
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% elif session['user_type'] == 'Cliente' %}
        <a href="{{ url_for('student_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% endif %}
</div>
{% endblock %}

<!-- <table>
  <tr><th>Estudiante</th><th>Programa</th><th>Periodo</th><th>Estado</th></tr>
  {% for ins in all_enrollments %}
    <tr>
      <td>{{ ins.NOMBRE_USUARIO }}</td>
      <td>{{ ins.NOMBRE_PROGRAMA }}</td>
      <td>{{ ins.PERIODO_ACADEMICO }}</td>
      <td>{{ ins.ESTADO_INSCRIPCION }}</td>
    </tr>
  {% endfor %}
</table> -->
