{% extends 'layout.html' %}
{% block title %}Editar Perfil{% endblock %}
{% block content %}
<div class="container">
  <h2 style="margin-bottom: 20px;">Editar Perfil</h2>
  <form method="POST">
    <div style="margin-bottom: 15px;">
      <label for="nombre">Nombre:</label><br>
      <input type="text" name="nombre" value="{{ user_data['NOMBRE'] }}" style="width: 90%; padding: 8px;">
    </div>

    <div style="margin-bottom: 15px;">
      <label for="apellido">Apellido:</label><br>
      <input type="text" name="apellido" value="{{ user_data['APELLIDO'] }}" style="width: 90%; padding: 8px;">
    </div>

    <div style="margin-bottom: 15px;">
      <label for="telefono">Teléfono:</label><br>
      <input type="text" name="telefono" value="{{ user_data['TELEFONO'] }}" style="width: 90%; padding: 8px;">
    </div>

    <div style="margin-bottom: 15px;">
      <label for="direccion">Dirección:</label><br>
      <input type="text" name="direccion" value="{{ user_data['DIRECCION'] }}" style="width: 90%; padding: 8px;">
    </div>

    <div style="margin-bottom: 15px;">
      <label for="correo">Correo:</label><br>
      <input type="email" name="correo" value="{{ user_data['CORREO'] }}" style="width: 90%; padding: 8px;">
    </div>

    <button type="submit" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none;">
      Guardar Cambios
    </button>
  </form>
</div>
<div style="margin-top: 50px; text-align: center;">
    {% if session['user_type'] == 'Administrador' %}
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% elif session['user_type'] == 'Cliente' %}
        <a href="{{ url_for('student_dashboard') }}" class="btn btn-primary" style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Volver al Menú Principal</a>
    {% endif %}
</div>
{% endblock %}
