{% extends 'layout.html' %}

{% block title %}Dashboard Administrador{% endblock %}

{% block content %}
<div class="dashboard-container">
    <h2>Panel de Administrador</h2>
    <p>Aquí puedes gestionar la oferta académica y las inscripciones.</p>
    <div class="dashboard-buttons">
        <a href="{{ url_for('admin_create_offer') }}" class="btn btn-dashboard">Gestionar Oferta Académica (Pendiente)</a>
        <a href="{{ url_for('admin_manage_offers') }}" class="btn btn-dashboard">Editar Ofertas Académicas</a>
        <a href="{{ url_for('admin_review_enrollments') }}" class="btn btn-dashboard">Revisar Inscripciones y Documentos</a>
        <a href="{{ url_for('manage_requirements') }}" class="btn btn-dashboard">Editar Requisitos (Pendiente)</a>
        <a href="{{ url_for('manage_programs') }}" class="btn btn-dashboard">Editar Programas Académicos (Pendiente)</a>
        <a href="{{ url_for('manage_subjects') }}" class="btn btn-dashboard">Editar Asignaturas (Pendiente)</a>
    </div>
</div>
{% endblock %}