{% extends 'layout.html' %}

{% block title %}Dashboard Estudiante{% endblock %}

{% block content %}
<div class="dashboard-container">
    <h2>Panel de Estudiante</h2>
    <p>Aquí puedes gestionar tus inscripciones y tu perfil.</p>
    <div class="dashboard-buttons">
        <a href="{{ url_for('create_enrollment_step1') }}" class="btn btn-dashboard">Hacer Nueva Inscripción</a>
        <a href="{{ url_for('student_view_enrollments') }}" class="btn btn-dashboard">Revisar Estado de Inscripciones</a>
        <a href="{{ url_for('student_edit_profile') }}"class="btn btn-dashboard"> Editar Información de Perfil </a>
    </div>
</div>
{% endblock %}


